{% extends 'layouts/blank.html' %}
{% load static %}

{% block content %}
<div class="min-h-screen bg-gray-50 flex flex-col">
    <div class="flex-1 p-8 pt-16">
        <div class="max-w-4xl mx-auto">
            <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">Welcome to BattleGround used games</h1>
            
            <!-- Image Section -->
            <div class="text-center">
                <img src="{% static 'images/sellyourusedgames.jpg' %}" 
                     alt="Sell Your Used Games" 
                     class="mx-auto max-w-full h-auto rounded-lg shadow-lg"
                     style="max-height: 500px;">
            </div>
        </div>
    </div>
</div>
{% endblock %}